<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">Jobs<b>Pillar</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
          <a class="nav-link" href="dashboard.html" style="padding-right:80px;">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search.html" style="padding-right:80px;">
            Search</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="applications.html" style="padding-right:80px;">
            Apply</a>
        </li>
        <li class="nav-item dropdown" style="">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Profile </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="matched.html">Matched Candidates</a>
            <a class="dropdown-item" href="signup.html">Log out</a>
          </div>
        </li>
      </ul>
    </div>
        
        </div>
    </div>
</nav>
<div class="container-fluid about">
    <br>
    <h3>Festivals</h3>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="img-responsive card-img-top festival-image" src="image/navratri.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Navratri</h5>
                    <p class="card-text">Navaratri also spelled Navratri or Navarathri, is a nine nights (and ten days)
                        Hindu festival, celebrated in the autumn every year.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="img-responsive card-img-top festival-image" src="image/diwali.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Diwali</h5>
                    <p class="card-text">Diwali or Deepavali is the Hindu festival of lights celebrated every year in
                        autumn in the northern hemisphere (spring in southern hemisphere). </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="img-responsive card-img-top festival-image" src="image/traditional.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Traditional Day</h5>
                    <p class="card-text">Traditional Day was held on the 18th of January 2017 at the college. It was an
                        eventful day. It was observed as a celebration of India’s diverse culture.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="img-responsive card-img-top festival-image" src="image/annualday.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Annual Day</h5>
                    <p class="card-text">Annual Day was held on the 18th of February 2017 at the college. It was an
                        eventful day. It was observed as a Last day of year, and student enjoyed last day.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="img-responsive card-img-top festival-image" src="image/Halloween.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Halloween</h5>
                    <p class="card-text">the night of 31 October, the eve of All Saints' Day, often celebrated by
                        children dressing up in frightening masks and costumes.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <br>
</div>