<nav class="mb-1 navbar navbar-expand-lg navbar-dark success-color">
    <a class="navbar-brand" href="#">Jobs<b>Pillar</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
          <a class="nav-link" href="dashboard" style="padding-right:80px;">
             Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search" style="padding-right:80px;">
            Search</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="applications" style="padding-right:80px;">
            Apply</a>
        </li>
        <li class="nav-item dropdown" style="">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Profile </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="matched">Matched Candidates</a>
            <a class="dropdown-item" href="signup">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
 
  <!-- Start your project here-->  
  <div style="height: 80vh">
    <div class="flex-center flex-column">
      <h5 class="animated fadeIn mb-3" style="font-family: Montserrat, sans-serif; font-weight: 800; font-size: 60px;">Search for something...</h5>
      <p>What skills in an Employee do you seek?</p>
      <br>
      <div class="input-group md-form form-sm form-2 pl-0" style="max-width: 50%;">
        <form method="post" action="/results">
            <input name="name" class="form-control my-0 py-1 border-success" type="text" placeholder="Search" aria-label="Search" style="border-radius: 25px 0px 0px 25px;  border: 2px solid #73AD21;" >
            <div class="input-group-append">
            <button type="submit" class="btn btn-success btn-block my-4">Search</button>
        </form>
      </div>
      </div>
    </div>
  </div>
  <!-- End your project here-->